#div1 {
  padding: 5px;
  display: grid;
  gap: 1px;
}
img {
  height: 100%;
  width: 100%;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  grid-column-start: 3;
}
.item3 {
  grid-column-start: 4;
}
.item4 {
  grid-column-start: 5;
  grid-column-end: 7;
}
.item5 {
  grid-row-start: 2;
  grid-column-start: 1;
}
.item6 {
  grid-column-start: 2;
}
.item7 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.item8 {
  grid-column-start: 5;
}
.item9 {
  grid-column-start: 6;
  grid-column-end: 7;
}
.item10 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item11 {
  grid-column-start: 3;
}
.item12 {
  grid-column-start: 4;
}
.item13 {
  grid-column-start: 5;
  grid-column-end: 7;
}
.item14 {
  background-color: gainsboro;
  grid-row-start: 4;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item15 {
  background-color: gainsboro;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item16 {
  background-color: gainsboro;
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item17 {
  background-color: gainsboro;
  grid-column-start: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item18 {
  background-color: gainsboro;
  grid-column-start: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item19 {
  background-color: gainsboro;
  grid-column-start: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item14:hover {
  background-color: gray;
  color: white;
}
.item15:hover {
  background-color: gray;
  color: white;
}
.item16:hover {
  background-color: gray;
  color: white;
}
.item17:hover {
  background-color: gray;
  color: white;
}
.item18:hover {
  background-color: gray;
  color: white;
}
.item19:hover {
  background-color: gray;
  color: white;
}
.o1 {
  border: 2px solid rgb(94, 94, 210);
  padding: 10px;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.tab-section {
  width: 30%;
  overflow: hidden;
}
.tab1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px;
  border: 1px #1836de;
  background-color: #1836de;
  margin-top: 55px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px;
  border: 1px solid #1836de;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px;
  border: 1px solid #1836de;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px;
  border: 1px solid #1836de;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px;
  border: 1px solid #1836de;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icon {
  margin-right: 15px;
  color: #0078d7;
  font-size: 24px;
}
.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid;
  padding: 50px;
  width: 100vw;
  height: 70%;
  margin-top: 60px;
  flex-wrap: wrap;
}
.image {
  flex: 0 0 150px;
}
.image img {
  max-width: 100%;
  height: auto;
}
.text {
  flex: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#container {
  display: flex;
  gap: 20px;
}
#div3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.box {
  flex: 1;
  padding: 20px;
  color: black;
  font-size: 18px;
}
.box1 {
  background-color: white;
  border: 1px solid;
}

.box2 {
  background-color: #1836de;
  color: white;
  border: 1px solid #1836de;
}

.box3 {
  background-color: white;
  border: 1px solid;
}
.grid1 {
  display: grid;

  grid-template-columns: 120px 120px;
  grid-template-rows: 120px 120px;
}
.item20 {
  grid-column-start: 1;
}
.item21 {
  grid-column-start: 2;
}
.item22 {
  grid-row-start: 2;
}
.item23 {
  grid-column-start: 2;
}
#div4 {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.text1 {
  background-color: rgb(230, 229, 229);
  display: flex;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-items: center;
  justify-content: center;
  gap: 100px;
  color: #1836de;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 0px) and (max-width: 428px) {
  .image {
    background-image: url(./img-11-04.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 0px) and (max-width: 428px) {
  .container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 210px;
  }
}

@media screen and (max-width: 428px) {
  #div4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 428px) {
  img {
    /* background-image: url(./music.jpg); */
    background-size: cover;
    padding: 1px;
  }
  .shy {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 428px) {
  .inside-container {
    display: none;
  }
  .check:active + .inside-container {
    display: block;
  }
  a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
}
@media screen and (min-width: 0px) and (max-width: 428px) {
  .item9{
    grid-column-start: 6;
  grid-column-end: 7;
  /* height: 70px; */
  width: 60px;
  }
}
